####
#MAIN or TEST
ENVIRONMENT=TEST
CONTRACT_NAME=NoFallbackTokenSwap
EVENT_NAME=TokenSwapEvent
ACCOUNT_ID=
PRIVATE_KEY=
####
CONTRACT_ID=
## https://testnet.mirrornode.hedera.com/api/v1/contracts/
## not needed for the legacy Burn2Earn test
LAZY_TOKEN=0.0.7567
LAZY_CONTRACT=0.0.7552
TOKEN_TREASURY=0.0.2233
